@import url("../../../css/colors.css");

.container {
    padding: clamp(1rem, 10vh ,4rem) clamp(0.5rem, 10vw ,8rem);
}

.quiz-box {
    background: var(--smoke);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
}

.score-time {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.quiz-form ol {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quiz-form ol li::marker {
    font-weight: bold;
}

.ques {
    font-weight: bold;
    text-align: left;
}

.opt {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 1.2rem;
}

.opt input[type = "radio"] {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.opt span {
    padding: 0 1rem;
    width: 100%;
    text-align: left;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

.opt label {
    display: inline-block;
    padding: 0.5rem;
}

.btn {
    background: var(--primary-color);
}

.correctAnswer {
    background-color: lightgreen;
}
.wrongAnswer {
    background-color: lightcoral;
}

@media only screen and (max-width: 700px) {
    .container {
        padding: 1rem;
    }
    .quiz-box {
        padding: 0;
        background: var(--secondary);
        color: var(--smoke);
    }
    .ques {
        font-size: 1.3rem;
    }
    .opt label {
        padding: 0;
    }
    .opt {
        padding: 1rem 0;
    }
    .btn {
        font-size: 1.5rem;
    }
    .list-item:hover {
        background-color: var(--secondary);
    }
}

