@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
@import url("../../css/colors.css");

body {
    background: var(--secondary);
    font-family: 'Baloo 2', cursive;
    color: var(--smoke);
}

.nav-header {
    background: var(--primary-color);
    font-size: 1.5rem;
    padding: 0 4rem;
}

.menu-list-items {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
}

.menu-list-items a {
    color: var(--smoke);
    text-decoration: none;
}

.menu-list-items:hover {
    background: var(--primary-color);
    filter: brightness(90%);
}

.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.quiz-box {
    width: 100%;
    text-align: center;
}

.list-grp {
    background-color: transparent;
    border: none;
}

.list-item {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.quiz-result {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: clamp(1rem, 2vw , 1.5rem);
}

.qna {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
    font-size: inherit;
}

.qna span {
    display: flex;
    gap: 1rem;
}

.qna .btn {
    margin-left:  auto;
    font-size: clamp(1rem, 2vw , 1.3rem);
    padding: clamp(0.2rem, 1vw , 1rem) 1rem;
}

.qna span:first-child h3{
    color: var(--success);
}
.qna span:last-child h3{
    color: var(--danger);
}

.quiz-box h1{
    font-size: clamp(2rem, 4vw ,3rem);
}

.menu {
    margin-right: 1rem;
    display: none;
}

.close {
    display: none;
    margin-left: auto;
}

.account-details {
    display: flex;
    align-items: center;
}

.nav-header ul:last-child {
    display: none;
}


@media only screen and (max-width: 700px) {
    .qna,
    .qna span,
    .quiz-result {
        flex-direction: column;
        gap: 1rem;
    }
}

@media only screen and (max-width: 610px) {
    .menu,
    .menu-list.short-menu,
    .close {
        display: block;
        display: flex;
    }   
    .drop-down {
        flex-direction: column;
        position: absolute;
        top: -100vh;
        background-color: var(--secondary);
        left: 0;
        right: 0;
        z-index: 2;
        padding: 4rem;
    }
    .hglt {
        border-radius: 0;
        margin: 0;
        background-color: var(--primary-color);
    }
    .brand-name {
        padding: 0.5rem 0;
    }
    .menu-list-items:first-child:hover {
        background-color: var(--secondary);
    }
    .menu-list-items:first-child {
        cursor: default;
    }
    .close,
    .menu {
        cursor: pointer;
    }
}