@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
@import url("./css/colors.css");

body {
    background: var(--secondary);
    font-family: 'Baloo 2', cursive;
    color: var(--smoke);
}

.nav-header {
    background: var(--primary-color);
    font-size: 1.5rem;
    padding: 0 clamp(1rem, 6vw ,4rem);
}

.menu-list-items {
    font-size: 1.2rem;
}

.menu-list-items a {
    color: var(--smoke);
    text-decoration: none;
}

.menu-list-items:hover {
    background: var(--primary-color);
    filter: brightness(90%);
}

.menu {
    margin-right: 1rem;
    display: none;
}

.close {
    display: none;
    margin-left: auto;
}

.hglt {
    background-color: var(--secondary);
    border-radius: 15px;
    margin: 0.3rem 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.main-title {
    padding: 5rem 0 2rem;
    font-size: 4rem;
}

.account-details {
    display: flex;
    align-items: center;
}

.short-menu {
    display: none;
}

.main-title + p {
    padding: 0 clamp( 1rem , 20vw , 20rem) 4rem;
}

img[alt = "Logo"] {
    height: 10rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 610px) {
    .menu,
    .menu-list.short-menu,
    .close {
        display: block;
        display: flex;
    }   
    .drop-down {
        flex-direction: column;
        position: absolute;
        top: -100vh;
        background-color: var(--secondary);
        left: 0;
        right: 0;
        z-index: 2;
        padding: 4rem;
    }
    .hglt {
        border-radius: 0;
        margin: 0;
        background-color: var(--primary-color);
    }
    .brand-name {
        padding: 0.5rem 0;
    }
    .menu-list-items:first-child:hover {
        background-color: var(--secondary);
    }
    .menu-list-items:first-child {
        cursor: default;
    }
    .close,
    .menu {
        cursor: pointer;
    }
}