@import url("../../../css/colors.css");

.container {
    padding: 4rem 8rem;
}

.quiz-box {
    background: var(--smoke);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
}