@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
@import url("../../css/colors.css");

body {
    background: var(--secondary);
    font-family: 'Baloo 2', cursive;
    color: var(--smoke);
}

.nav-header {
    background: var(--primary-color);
    font-size: 1.5rem;
    padding: 0 4rem;
}

.menu-list-items {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
}

.menu-list-items a {
    color: var(--smoke);
    text-decoration: none;
}

.menu-list-items:hover {
    background: var(--primary-color);
    filter: brightness(90%);
}

.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    backface-visibility: hidden;
}

.flip-card {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
}

.card .content-desc, .card .btn {
    font-size: 1.2rem;
}

.btn-grp {
    margin: 1rem;
    margin-top: 0;
    justify-content: flex-end;
}

.btn {
    padding: 0.2rem 0.5rem;
    background: var(--primary-color);
}


.quiz-rules {
    top: 0;
    position: absolute;
    color: var(--secondary);
    width: 100%;
    background: white;
    transform: rotateY(180deg);
    z-index: -1;
    padding: 1rem;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;
}

.flipit {
    transform: rotateY(180deg);
    transition: all 0.5s ease-in-out;
}

.flipit .quiz-rules {
    display: block;
    visibility: visible;
}

.font-black {
    color: var(--secondary);
}